HOST=0.0.0.0
PORT=3001
RECOVERY_EXECUTE=1
RECOVERY_SOURCE_ROOT=/data/recovery/source
RECOVERY_STAGE_ROOT=/data/recovery/stage

INCP_IP=127.0.0.1
INCP_USER=your_hive_user
INCP_PASSWD=
KRB_KEYTAB=/home/tyf/etc/ekg.keytab
KRB_PRINCIPAL=ekg@TDH

PARTITION_COLUMN=tx_dt
SOURCE_DATABASE=prodb_dm
